<body class="bg-purple-50 flex flex-col min-h-screen">
	<main class="flex-1 flex flex-col items-center justify-center px-4">
		<div class="flex flex-row items-center gap-8 max-w-4xl">
			<!-- Logo -->
			<img src="/N2i_logo-color.png" alt="Logo" class="w-32 h-32" />

			<!-- Description -->
			<div class="text-center sm:text-left">
				<h1 class="text-2xl font-bold mb-2">La Nuit de l'info</h1>
				<p class="text-gray-700">
					La Nuit de l'info est un événement annuel organisé par
					l'association
					<a href="https://www.nuitdelinfo.com/" class="text-blue-300">Nuit de l'info</a>.
					C'est un concours national de développement informatique qui
					se déroule sur 24 heures.
				</p>
				<p class="text-gray-700">
					Le but est de réaliser un projet en équipe en un temps
					limité. C'est l'occasion de mettre en pratique ses
					compétences en développement, de découvrir de nouvelles
					technologies et de travailler en équipe.
				</p>
			</div>
			<p class="text-gray-700">
				Nom équipier - contact (GitHub ou un truc)
			</p>
			<p class="text-dark">...</p>
		</div>
	</main>
</body>
