<!-- letter-shifter.component.html -->
<div class="form-group flex w-1/3 border-2 border-gray-300 rounded-2xl italic p-3 items-center focus-within:ring-2 focus-within:ring-blue-500">
  <input
    id="letterInput"
    type="text"
    [(ngModel)]="inputText"
    (keypress)="onKeyPress($event)"
    class="w-full focus:outline-none focus:no-underline placeholder:italic"
    placeholder="Recherchez une partie du corps humain..."
  >
  <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="text-gray-300">
    <path fill="currentColor" fill-rule="evenodd" d="M11.5 7a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m-.82 4.74a6 6 0 1 1 1.06-1.06l2.79 2.79a.75.75 0 1 1-1.06 1.06z" clip-rule="evenodd"/>
  </svg>
</div>
